body {
  font-family: system-ui;
  background-image: url(https://imgur.com/8vEjyOC.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* background-color: #f4f4f4; */
  color: #333; /* Dark text for better readability */
  margin: 0;
  padding: 20px;
}

.App {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000;
  border-radius: 4px;
  width: calc(100% - 22px);
  color: #fff; /* Ensures text in inputs is dark for better contrast */
}

button {
  text-align: center;
  width: 250px;
  height: 60px;
  background-image: linear-gradient(to right, #6eccaf 0%, #344d67 100%);
  border-radius: 50px;
  border: none;
  color: white;
  font-family: "微軟正黑體";
  font-size: 20px;
  text-decoration: none;
  padding: 15px;
  margin: 10px;
}

button:hover {
  opacity: 0.8;
}

.addTaskButton,
.filterButton {
  background-color: #5cb85c; /* Green background for add task and filter buttons */
  color: #fff; /* White text for better contrast */
}

.filterButton:not(.active) {
  background-color: #5bc0de; /* Light blue for inactive filter buttons */
}

.filterButton.active {
  background-color: #0275d8; /* Darker blue for active filter button */
  color: #fff; /* Ensuring text is white for contrast */
}

.deleteButton {
  background-color: #d9534f; /* Red background for delete button */
}

.editButton,
.cancelButton {
  background-color: #f0ad4e; /* Orange background for edit and cancel buttons */
}

.markAsDoneButton,
.markAsUndoneButton {
  background-color: #292b2c; /* Dark background for mark as done/undone buttons */
  color: #fff; /* White text for contrast */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fff; /* Light background for list items */
  color: #333; /* Dark text for contrast */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}
