body {
  font-family: "微軟正黑體";
  background-image: url(https://imgur.com/8vEjyOC.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* background-color: #f4f4f4; */
  color: #333; /* Dark text for better readability */
  margin: 0;
  padding: 20px;
}

.App {
  max-width: 600px;
  margin: auto;
  background: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  font-family: "微軟正黑體";
  border: 1px solid #ddd;
  border-radius: 4px;
  width: calc(100% - 22px);
  color: #000; /* Ensures text in inputs is dark for better contrast */
}

button {
  text-align: center;
  width: 40px;
  height: 40px;
  /* background-image: linear-gradient(to right, #6eccaf 0%, #344d67 100%); */
  background-color: #000;
  border-radius: 40px;
  border: none;
  color: white;
  font-family: "微軟正黑體";
  /* font-size: 20px; */
  text-decoration: none;
  padding: 8px;
  margin: 8px;
}

button:hover {
  opacity: 0.8;
  background: #8260ff;
  cursor: pointer;
}

/* .addTaskButton,
.filterButton {
  background-color: #5cb85c; 
  /* color: #fff; 
/* } */

.filterButton:not(.active) {
  background-color: #5bc0de; 
}

/* .filterButton.active {
  background-color: #0275d8;
  color: #fff; 
} */

/* .deleteButton {
  background-color: #d9534f; 
} */

/* .editButton,
.cancelButton {
  background-color: #f0ad4e; 
} */
/* 
.markAsDoneButton,
.markAsUndoneButton {
  background-color: #292b2c; 
  color: #fff; 
} */

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #fff; /* Light background for list items */
  color: #333; /* Dark text for contrast */
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}
